.container {
  position: relative;
  /* max-width: calc(1280px + 36px); */
  max-width: 940px;
  margin: 0 auto;
  /* padding-inline: 18px; */
}

.main {
  max-width: 2560px;
  margin: 0 auto;
}

section {
  background: skyblue;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-inline: 18px;
  }
}
