:root {
  --c-brand-500: #a8ff35;
  --c-brand-600: #87d322;
  --c-brand-700: #8cc83a;
  --c-dark: #2b2b2b;
  --c-grey-100: #f5f5f5;
  --c-grey-200: #f1f1f1;
  --c-grey-700: #adadad;
  --c-grey-800: #8b8b8b;
}
